body {
    background-image: url(../images/employees.png);
    background-repeat: repeat-y;
    background-size: 100% 100%;
    text-align: center;
}

html {
    height: 100%;
}

h2 {
    font-family: times, "Times New Roman", times-roman, Georgia, serif;
    color: darkslategrey;
    margin-left: auto;
    margin-right: auto;
}

#main {
    background-color: rgba(255,255,255,0.5);
    position: relative;
    top: 10%;
}